<md-dialog name="createForm" class="menu-dialog-section-setting" aria-label="Create a new page" flex="50">
    <md-dialog-content>
        <div class="modal-header">
            <h3 class="modal-title" align="center">Create a new page</h3>
        </div>
        <div class="md-dialog-content">
            <md-input-container class="md-block" flex-gt-sm>
                <form name="form">
                    <label>Page Name</label>
                    <input type="text" name="menuItemName" ng-click="vmCreatePageDialog.refresh()" ng-model="vmCreatePage.menuItemName" ng-minlength="3" ng-maxlength="15" autocomplete="off" required/> <!--pattern=".{2,}-->
                    <ng-messages for="form.menuItemName.$error" role="alert" style="color:red">
                        <ng-message when="required">Required</ng-message>
                        <ng-message when="minlength">Your name is too short!</ng-message>
                        <ng-message when="maxlength">Your name is too long!</ng-message>
                        <!--<ng-message when="{{vmCreatePageDialog.conflictErrorMessage}}">This MenuItem Name is already exist!</ng-message>-->
                    </ng-messages>
                    <div  ng-if="vmCreatePageDialog.conflictErrorMessage" class="error" role="alert" style="color:red">
                        <small>This MenuItem Name is already exist!</small>
                    </div>
                </form>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vmCreatePageDialog.save(vmCreatePage.menuItemName)" class="md-raised md-primary">
            Save
        </md-button>
        <md-button ng-click="vmCreatePageDialog.dismiss()" style="background-color: transparent">
            <a ng-click="vmCreatePageDialog.dismiss()"> Dismiss </a>
        </md-button>
    </md-dialog-actions>
</md-dialog>

