<div class="row template template-2 has-menu"
     ng-style="{
        'background-color': vmTemplate2.row.style.backgroundColor,
        'padding-top': (vmTemplate2.defaultPadding + vmTemplate2.row.style.paddingTop) + 'px',
        'padding-bottom': (vmTemplate2.defaultPadding + vmTemplate2.row.style.paddingBottom) + 'px',
        'background-image': !vmTemplate2.row.style.backgroundImage ? 'none' : 'url(' + vmTemplate2.row.style.backgroundImage + ')',
        'height': vmTemplate2.row.style.height + 'px',
        'color': vmTemplate2.row.style.textColor
        }"
     ng-mouseover="vmTemplate2.hover = true"
     ng-mouseleave="vmTemplate2.hover = false">

    <!-- block -->
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 block-text">
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
            <!-- text-editor -->
            <text-editor element="vmTemplate2.row.blocks[0].elements[0]"></text-editor>
        </div>
    </div>

    <!-- section-menu -->
    <section-menu ng-show="vmTemplate2.hover" class="fade-show" can-move="vmTemplate2.canMove"
                  section-style="vmTemplate2.row.style"
                  section-id="{{vmTemplate2.row.id}}"
                  style-show="vmTemplate2.styleOptions"></section-menu>

    <!-- uses the same ng-style as the row template -->
    <!-- add-template directive -->
    <div class="col-xs-12 template-add text-center"
         ng-mouseover="vmTemplate2.add = true"
         ng-mouseleave="vmTemplate2.add = false">
        <add-template ng-show="vmTemplate2.add && !vmTemplate2.showDefaultTemplate"
                      section-id="{{vmTemplate2.row.id}}"></add-template>
    </div>
</div>

<!-- default template -->
<template-default ng-if="vmTemplate2.showDefaultTemplate"
                  sequence="{{vmTemplate2.row.sequence}}"
                  row-id="{{vmTemplate2.row.id}}"></template-default>